@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body,
form,
p,
h1,
label,
input {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

.all {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

.form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 80px 90px;
  border-radius: 6px;
  background-color: aliceblue;
}

#studentId {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 45px;
  width: 300px;
  border: 1px solid rgb(143, 143, 143);
  text-align: center;
}
.lab {
  padding: 20px 20px;
  font-size: 30px;
}
.btn {
  background: #6c63ff;
  height: 47px;
  width: 302px;
  border: 0;
  font-size: 18px;
  color: aliceblue;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #908aff;
}
.content {
  width: 40%;
  padding: 40px 40px;
  border: 1px solid gray;
  background-color: aliceblue;
  border-radius: 3px;
}
